<% provide(:title,'List of Equipment')%>
<% provide(:name,'List of JOT Equipment')%>


<table width="1200", border="1">
  <thead>
    <tr>
      <th>J-Code</th>
      <th>Serial number</th>
      <th>Date</th>
      <th>Project number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.jcode %></td>
        <td><%= equipment.serial %></td>
        <td><%= equipment.mdate %></td>
        <td><%= equipment.pnumber %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
