<%provide(:title,'Equipment information')%>
<%provide(:name,'Equipment information')%>
<% provide(:lname1,'List of Reports')%>
<% provide(:link1, reports_path)%>
<% provide(:lname2, 'Equipment list')%>
<% provide(:link2, equipment_index_path)%>
<% provide(:lname3, 'Create New Equipment')%>
<% provide(:link3, new_equipment_path)%>
<% provide(:lname4, 'Edit Equipment infrmation')%>
<% provide(:link4, edit_equipment_path(@equipment))%>

<p id="notice"><%= notice %></p>

<table width="600", border="1">
  <tr>
    <td width="110"><strong>Equipment ID</strong></td>
    <td width="490"><%= @equipment.id%></td>
  </tr>

  <tr>
    <td width="110"><strong>J-Code:</strong></td>
    <td width="490"><%= @equipment.jcode %></td>
  </tr>

  <tr>
    <td width="110"><strong>Serial Number:</strong></td>
    <td width="490"><%= @equipment.serial %></td>
  </tr>

  <tr>
    <td width="110"><strong>Manufacturing Date:</strong></td>
    <td width="490"><%= @equipment.mdate %></td>
  </tr>

  <tr>
    <td width="110"><strong>Project Number:</strong></td>
    <td width="490"><%= @equipment.pnumber %></td>
  </tr>
</table>


