<%provide(:title,'Equipment information')%>
<%provide(:name,'Equipment information')%>


<p>
  <%= link_to 'Edit', edit_equipment_path %> |
  <%= link_to 'Back', equipment_index_path %> |
  <%= link_to 'New Report', new_report_path %>
</p>

<table width="600", border="1">
  <tr>
    <td width="130"><strong>Equipment ID</strong></td>
    <td width="470"><%= @equipment.id%></td>
  </tr>

  <tr>
    <td width="130"><strong>J-Code:</strong></td>
    <td width="470"><%= @equipment.jcode %></td>
  </tr>

  <tr>
    <td width="130"><strong>Serial Number:</strong></td>
    <td width="470"><%= @equipment.serial %></td>
  </tr>

  <tr>
    <td width="130"><strong>Manufacturing Date:</strong></td>
    <td width="470"><%= @equipment.mdate %></td>
  </tr>

  <tr>
    <td width="130"><strong>Project Number:</strong></td>
    <td width="470"><%= @equipment.pnumber %></td>
  </tr>
</table>





