<% provide(:title,'List of reports')%>
<% provide(:name,'List of incident reports')%>

<% if signed_in? %>
  <p>
  <%= link_to 'Create New Report', new_report_path %>
</p>

<table width="930" border="1">
  <thead>
    <tr>
      <th>Equipment ID</th>
      <th>Subject</th>
      <th>Incident start</th>
      <th>Reporter name</th>
      <th>Location</th>
      <th>Customer</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.equipment_id %></td>
        <td><%= report.subject %></td>
        <td><%= report.sdate %></td>
        <td><%= report.rname %></td>
        <td><%= report.location %></td>
        <td><%= report.cname %></td>
        <td><%= report.status %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>

You are not Authorized!

<% end %>




