<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment:</strong>
  <%= @report.equipment_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @report.subject %>
</p>

<p>
  <strong>Idate:</strong>
  <%= @report.idate %>
</p>

<p>
  <strong>Itame:</strong>
  <%= @report.itame %>
</p>

<p>
  <strong>Rname:</strong>
  <%= @report.rname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @report.location %>
</p>

<p>
  <strong>Cname:</strong>
  <%= @report.cname %>
</p>

<p>
  <strong>Descript:</strong>
  <%= @report.descript %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
