<% provide(:title, 'Report')%>
<% provide(:name,'Report information')%>
<% provide(:title, 'New Report')%>
<% provide(:name,'New Incident Report')%>
<% provide(:lname1,'List of Reports')%>
<% provide(:link1, reports_path)%>
<% provide(:lname2, 'Equipment list')%>
<% provide(:link2, equipment_index_path)%>
<% provide(:lname3, 'Create New Equipment')%>
<% provide(:link3, new_equipment_path)%>
<% provide(:lname4, 'Edit Report')%>
<% provide(:link4, edit_report_path(@report))%>

<p id="notice"><%= notice %></p>


<table width="600", border="1">

    <tr>
      <td width="110"><strong>Equipment ID:</strong></td>
      <td width="490"><strong><%= @report.equipment_id%></strong></td>
    </tr>

    <tr>
      <td width="110"><strong>Subject:</strong></td>
      <td width="490"><%= @report.subject %></td>
    </tr>

    <tr>
      <td width="120"><strong>Reporter name:</strong></td>
      <td width="490"><%= @report.rname %></td>
    </tr>

    <tr>
      <td width="110"><strong>Location:</strong></td>
      <td width="490"><%= @report.location %></td>
    </tr>

    <tr>
      <td width="110"><strong>Customer</strong></td>
      <td width="490"><%= @report.cname %></td>
    </tr>

    <tr>
      <td width="110"><strong>Description:</strong></td>
      <td width="490"><%= @report.descript %></td>
    </tr>

    <tr>
      <td width="110"><strong>Status:</strong></td>
      <td width="490"><%= @report.status %></td>
    </tr>
</table>


