
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <style>
   .gradient {
    background: linear-gradient(to top, #0000FF, #0000FF);
    padding: 20px;
    border: 1px solid #333;
    color: #FFFFFF
   }

  </style>

</head>


<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Jot Service Report", '#', id: "logo"%>
      <nav>
        <ul class="nav pull-right">
        <li><%= link_to "Home", '#'%></li>
      </nav>
    </div>
  </div>
</header>


 <p class="gradient"><strong><%= full_name(yield(:name))%></strong></p> 

<%= yield %>

<p class="gradient"><strong>Go To | </strong><strong><%= link_to yield(:lname1), yield(:link1)%></strong> | <strong><%= link_to yield(:lname2), yield(:link2)%></strong> | <strong><%= link_to yield(:lname3), yield(:link3)%></strong> | <strong><%= link_to yield(:lname4), yield(:link4)%></strong></p> 



</body>
</html>
