
<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 <style>
   .gradient {
    background: linear-gradient(to top, #0000FF, #0000FF);
    padding: 20px;
    border: 1px solid #333;
    color: #FFFFFF
   }

   .botom_line{
    background: #0000FF;
    padding: 20px;
    color: #FFFFFF;
    font-size: 14px;
   }


  </style>

</head>

<body>
  
  <p class="gradient"><strong><%= full_name(yield(:name))%></strong></p>

  <div class="container">
    <%= yield %>
  </div>


<div class="botom_line">

  <strong>Go To | </strong><strong><%= link_to yield(:lname1), yield(:link1), style: 'color:#FFFFFF'%></strong> | <strong><%= link_to yield(:lname2), yield(:link2), style: 'color:#FFFFFF'%></strong> | <strong><%= link_to yield(:lname3), yield(:link3), style: 'color:#FFFFFF'%></strong> | <strong><%= link_to yield(:lname4), yield(:link4), style: 'color#FFFFFF'%></strong>
  
</div>

</body>

</html>
